# Node / pnpm
node_modules/
.pnpm-store/
.pnpm-debug.log*
npm-debug.log*

# TypeScript build output
dist/
build/
*.tsbuildinfo

# Prisma client
**/src/generated/
**/coverage/

# EnvFiles
.env
.env.*
!.env.example

# Logs
logs/
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/

# AWS credentials
.aws/